<!-- テーブルにてレイアウト調整が必要 -->
<h4>注文履歴覧</h4>
  <table>
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <td><!-- 注文詳細画面へ遷移 -->
        <%= order.created_at %>
      </td>
      <td>
        <%= order.last_name %><%- order.first_name %>
      </td>
      <td>
        <!-- 注文個数を足して、出力 -->
      </td>
      <td>
        <%= order.status %>
      </td>

    </tr>
    <% end %>
  </table>
