<p><strong>ジャンル検索</strong></p>

<!-- ホーム画面中央部にメイン画像とメインコメントを実装 -->
<div class="main-visual">
  <div class="main-visual-content">
    <p class="main-visual-text">
      ようこそ、ながのCAKEへ！ </br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧ができますが、</br>
      購入には会員登録が必要になります
    </p>
  </div>
</div>

<h2>新着商品</h2>
<% @items.each do |item| %>
<div><%= attachment_image_tag item, :image, :fill, 150, 100, format: 'jpeg', class:"exmaple-hoge" %>
<p><strong><%= item.name %></strong></p>
<span>¥</span><%= item.price.to_s(:delimited) %></td>
</div>
<% end %>
  

<%= link_to "全ての商品を見る＞", items_path %>