// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
  width: 50%;
  height: 300px;
  background-image: url(img/christmas-g00bb1ee29_1280.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  padding-left: 150px;
  padding-top: 100px;
}

.main-visual-content {
  width: 70%;
  height: 125px;
  background-color: rgba(255,255,255,0.8); /* 背景色を半透明の黒にする */
  text-align: left;
}
